* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.logo-side {
    position: absolute;
    display: flex;
    align-items: center;
    top: 5%;
    right: 31%;
    justify-content: center;
    z-index: 999;

    
}
.logo img {
    width: 60px;
    height: auto;
    justify-content: space-between;
    
}
.text {
    display: flex;
    padding-left: 1.2rem;
    font-size: 24px;

}
.text h2{
    font-size: 24px;
    padding-right: 5px;
    padding-left: 5px;
    color: rgb(184, 131, 33);
    
}

.container {
    position: absolute;
    top: 20%;
    left: 22%;
    
    width: 600px;
    height: auto;
    padding: 20px 50px;
    



+
}

form input{
    
    display: flex;
    margin : 10px 0;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    
}
.button{
    width: 100%;
    padding: 10px;
    background-color: rgb(214, 184, 12);
    outline: none;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    
    
}
.button:hover {
    color: white;
    background-color: black;
}
table{
    display: block;
}
.output {
    margin: 17px -20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
    border-radius: 10px
    
    
}
 
.output th {
    padding-right: 212px;
}

.book-list  {
    display: inline-block;
    
    position: absolute;
    margin: 20px -20px;
    
    background-color: rgb(202, 189, 189);
    text-align: justify;
     border-radius: 10px;
     
}


.book-list th {
    position: relative;
    width: 344px;
    height : 33px;
    padding-right: 90px;
    
    
}
.book-list th:last-child{
    padding: 0;
}
.book-list tr {
    
   
    align-items: center;
    justify-content: center;
    padding-right: 142px;
}